<!-- 
   This is the map view!  It's where the map is.
   If you want to change is appearance, edit the #map and .marker sections of the css file

   Resources:
   https://www.mapbox.com/mapbox-gl-js/api
   https://www.mapbox.com/help/custom-markers-gl-js

   To-do:
   1) Implement pop-ups
   2) Join this page and the listing page

   -Bridget
-->

<div ng-controller="ListingsController" >
	<head>
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
		<script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>

		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet'/>
	</head>

	<body>
		<!-- Left side column (search bar, information) -->
		<div class="col-md-4">
			<!-- Search Bar on top of Map -->
			<div class="input-group" id="searchBar">
    		  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    		  <input type="text" class="form-control" placeholder="Search by name, movie, or location!" ng-model="globalSearch.$"><br>
    		</div>

    		
    		<!-- Jumbotron to display information -->
    		<div class="jumbotron" id="infoboy">
    			<h3 id="entryName1">Theater Info</h3>

              <h6>Address:</h6>
              <p id="entryAddress1" style="font-size: 15px;"></p>
              <h6>Crowdedness (out of 5):</h6> <p id="entryRating1" style="font-size: 15px;"></p>
              <h6>Rating:</h6><p id="entryCrowdedness1" style="font-size: 15px;"></p>
              
              
              
              
    		</div>

    		<!-- Favorite Theater, same jumbotron display -->
    		<div class="jumbotron" id="favboy">
    			<h3 id="entryName">Favorite Theater:</h3>
              <h6>Crowdedness:</h6>
              <p id="entryCrowdedness" style="font-size: 15px;"></p>
              <h6>Rating:</h6>
              <p id="entryRating" style="font-size: 15px;"></p>
              <h6>Address:</h6>
              <p id="entryAddress" style="font-size: 15px;"></p>
    		</div>    	

    		<!-- Most Recent Theater, same jumbotron display --> 
    		<div class="jumbotron" id="recentboy">
    			<h3 id="entryName">Most Recent Theater:</h3>
              <h6>Crowdedness:</h6>
              <p id="entryCrowdedness" style="font-size: 15px;"></p>
              <h6>Rating:</h6>
              <p id="entryRating" style="font-size: 15px;"></p>
              <h6>Address:</h6>
              <p id="entryAddress" style="font-size: 15px;"></p>
    		</div>	

    	</div>

    	<!-- Right side column (map) -->
    	<div class="col-md-8">
			<div id='map' style='width: 890px; height: 700px;' ng-init="createMap()" ng-click="showDetails(e)"></div>
			<script type="text/javascript" src="/../controllers/listings.client.controller.js">		
			</script>	
		</div>
	</body>
</div>
