<div class="row" ng-controller="ListingsController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10">
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div class="jumbotron" style="background-color: #FFDC4F;">
      <img id="loader" ng-show="loading" src="/../../img/484.gif">
      <div ng-show="listing">
        <!-- First section: Theater name, then address, crowdedness, rated crowdedness -->
        <h1 style="font-family: phosphate">{{listing.name}}</h1>

          <h3>Address: {{listing.address}}</h3>
          <h3>Crowdedness: {{listing.rating}}%</h3>
          <h3>Rating: {{listing.crowdedness}} stars out of 5</h3>
        
        <!-- Second section: Rooms (number and capacity) --> 
        <h4 style="margin-top: 25px" ng-repeat="room in listing.rooms">Room #{{room.number}}  –  Capacity of {{room.capacity}} people</h4>

        <h3 style="font-family: times">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</h3>
        <!-- Third section: other information -->
        <h2>Movies</h2>
        
        <table>
          <tr ng-repeat="movie in listing.movies">
            <td>
              <h3>Title: {{movie.title}} </h3><br>
              <p>Description: {{movie.description}} </p><br>
              <p>Showings: {{movie.time}} </p><br>
              
              <table>
                <tr ng-repeat="showing in movie.showings">
                  <td>
                    <p>Form: {{showing.form}} </p><br>
                    <p>Playing in Room #{{showing.room}} </p><br>
                    <p>Time: {{showing.time}} </p><br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        
        <a class="btn btn-primary" ui-sref="listings.edit({ listingId: listing._id })">
          <i class="glyphicon glyphicon-edit"></i>
          Edit
        </a>
        <a class="btn btn-danger" ng-click="remove(listing._id)">
          <i class="glyphicon glyphicon-trash"></i>
          Remove
        </a>
      </div>
    </div>
  </div>
</div>
